footer {
    background-color: #52381D;
}
.footer-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}

.footer-create nav a{
    text-decoration: none;
    color: white;
}

.footer-create nav a:hover {
    text-decoration: underline;
}