/*mobile.css */
@media (max-width: 768px) {

    

    /* HEADER */
    .header-top {
        display: flex;

        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        flex-wrap: nowrap;
    }

    /* Hamburger LEFT */
    .nav-toggle {
    display: block;
    position: relative;   /* IMPORTANT */
    z-index: 3000;

    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;

    flex-shrink: 0;

    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
    opacity: 1;
    transform: scale(1);
    visibility: visible;

    }

    .nav-toggle.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.2s ease;
    }

    /* LOGO CENTER */
    .logo {
        order: 2;
        justify-self: center;
    }

    .logo img {
        max-height: 100%;
        width: auto;
        display: block;
    }

    /* CART RIGHT */
    .cart-nav {
        order: 3;
    }

    .cart-nav a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    /* HERO BANNER */
    .hero-banner {
        height: 250px;
        width: 100%;
    }

    /* OVERLAY */
    .sidebar-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.4);

        z-index: 1000;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .sidebar-overlay.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    /* SIDEBAR */
    .sidebar-nav {
        position: fixed;
        top: 0;
        left: -260px;
        width: 260px;
        height: 100vh;

        background-color: #283618;
        display: flex;
        transition: left 0.3s ease;
        z-index: 2000;
    }

    .sidebar-nav.open {
        left: 0;
    }

    /* NAV LINKS */
    .sidebar-nav nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sidebar-nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 10px;
        border-radius: 8px;
    }

    .sidebar-nav a:hover {
        background: black;
        color: white;
    }
    .nav-toggle,
    .logo,
    .cart-nav {
        flex: 0 0 auto;
    }
    
    /*Hide desktop navigation in mobile view */
    .desktop-nav {
        display: none;
    }
}
