/* base.css */
@import "./partials/header.css";
@import "./partials/footer.css";
@import "./partials/navigation.css";
@import "./partials/hero-banner.css";
@import "./partials/mealOfDay.css";
@import "./partials/calendar.css";
@import "./partials/menu.css";
@import "./partials/mobile.css";

body {
    background-color: #e5e5e5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
h1 {
    text-align: center;
}